items assets kind software-package url https://krnl-ios.com/Signed.ipa kind display-image url https://krnl-ios.com/unnamed.png kind full-size-image url https://krnl-ios.com/unnamed.png metadata bundle-identifier com.krnl.client bundle-version 3.2.1 kind software platform-identifier com.apple.platform.iphoneos title Krnl
